* {
    margin: 0%;
    padding: 0%;

}

h1{
    text-align: center;
    font-family: fantasy;
    margin: 3rem;
}
.infoContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info img {
    width: 300px;
    height: 200px;
    border-radius: 20%;
    border: 3px solid black;
}

.info p {
    font-size: 1rem;
}

@media screen and (min-width: 780px){
    h1{
        font-size: 3rem;
    }
    .info img {
        width: 500px;
        height: 350px;
       
    }

    .info p {
        font-size: 2rem;
    }

} 

@media screen and (min-width: 1024px){
    
    body{
        background-color: brown;
    }
    
    h1{
        font-size: 3.5rem;
    }
    .info img {
        width: 600px;
        height: 400px;
        
    }

} 